<div class="page-header">
    <h2>Showing Simulation</h2>
</div>

<p>
  <strong>Status:</strong>
  <%= @simulation.status %>
</p>

<p>
  <strong>Job cache:</strong>
  <%= @simulation.job_cache %>
</p>

<%= link_to 'Back', simulations_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_simulation_path(@simulation), class: 'btn btn-default' %>
